{% extends 'layout.html' %}
{% load static %}
{% block title %}month_name{% endblock %}
{% block css %}
 <link rel="stylesheet"  href ="{% static "challenges/challenges.css"%}">
 <link rel="stylesheet"  href ="{% static "challenges/includes/header.css"%}">
{% endblock %}

{% block content %}
{% include "challenges/includes/header.html" %}
<div>
  <h1>{{month_name|title}} Challenge</h1>
{% if text == None %}
 <h2>No Tasks for this month</h2>

{% else %}
 <h2>{{text}}</h2>

{% endif %} 
  
</div>  
{% endblock %}
 


